<mat-nav-list>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <mat-divider></mat-divider>
    
    <h4 matSubheader>Modules</h4>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sales">
        <mat-icon>add_shopping_cart</mat-icon>
        Sales
    </a>

</mat-nav-list>