<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="24">
        <app-widget-card label="Sales Today" value="Rs 1000" percentage="50" [data]="cardData1" [fillColor]="fillColor1"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="24">
        <app-widget-card label="Profit" value="Rs 4000" percentage="60"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="24">
        <app-widget-card label="Products Sold" value="Rs 1000" percentage="70"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="24">
        <app-widget-card label="Revenue" value="Rs 1000" percentage="30"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-widget-linechart></app-widget-linechart>
</div>

<br>


<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>